<h4>This is the colors page</h4>
{{#link-to "/"}}Home{{/link-to}}

<div>
  {{#each model as |color|}}
    <article class="name">
      <h3>{{color.name}}</h3>
      <div class="code">
        <span>Code:</span> {{color.code}}
      </div>
    </article>
  {{/each}}
</div>
